.text
  text-align center
  margin-top 0
  margin-bottom 15px

.author
   font-style italic
   font-weight lighter

  .center &
    text-align center
  .right &
    text-align right
  .left &
    text-align left
