@import "../styles/variables"

.contact-us
  padding-top 40px
  padding-bottom 167px

  h1
    margin-bottom 88px

  ul.icon-list
    margin-top 60px

  @media screen and (max-width screen-mobile)
    padding-bottom 154px

    h1
      margin-bottom 80px

.join-us
  padding-top 155px
  padding-bottom 169px

  ul.icon-list
    margin-top 60px

  @media screen and (max-width screen-mobile)
    padding-top 100px
    padding-bottom 220px
