@import "../styles/variables"

.swiper
  position relative
  overflow hidden

  width 100%
  height 800px
  max-height calc(100vh - 80px)

  &-slide
    height 800px !important

    &
    ^[-1]
      max-height calc(100vh - 207px)

      @media screen and (max-width screen-mobile)
        max-height calc(100vh - 80px)

    img
      display block
      width 100%
      height 100%
      object-fit cover

  &-pagination
    position absolute
    z-index 1
    left 0
    right 0
    bottom 0 !important

    display flex
    justify-content center

    padding-bottom 32px

    &-bullet
      box-sizing border-box

      width 16px
      height @width
      margin 0 7px

      border 1px solid #C7C7CC
      border-radius 50%
      background white

      cursor pointer

      &:hover
        background lighten(#01A0C6, 30)

      &&-active
        background #01A0C6
        border none

.hero
  position absolute
  top 0
  left 0
  right 0
  bottom 0

  display flex
  justify-content center
  align-items center

  background-image url(../assets/bg/b.jpg)
  background-size cover
  background-position center

.logo
  box-sizing border-box

  position relative
  max-width 576px
  width 100%

  padding 20px

.about
  position relative

  background-image:
    url(../assets/bg/d.png),
    url(../assets/bg/d.png),
    url(../assets/bg/c.svg)
  background-repeat no-repeat
  background-size contain
  background-position-y 20%, 80%, 0
  background-position-x 0, 0, right

  > div
    padding-top 80px
    padding-bottom @padding-top

    @media screen and (max-width screen-mobile)
      padding-top (@padding-top / 2)
      padding-bottom @padding-top

    max-width 782px

    h2
      padding-top (@padding-top / 2)

.video
  position relative

  display flex

  padding-top 56.25%

  > video
  iframe
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    width 100%
    height 100%

  iframe
    opacity 0

    transition opacity 2s ease-in
    transition-delay 2.5s

  &&-active
    iframe
      opacity 1

  .play-button
    position absolute
    z-index 1
    width 82px
    height @width

    top calc(50% - 41px)
    left @top

    border-radius 50%
    border none

    background-color transparent
    background-image url(../assets/play-button.svg)

    &:hover
      background-color rgba(black, 0.8)

  .volume-button
    position absolute
    box-sizing content-box
    z-index 1
    bottom 20px
    right 20px

    width 32px
    height @width
    padding 10px
    border none
    background none

.certification
  position relative

  background-image url(../assets/bg/d.png)
  background-repeat no-repeat
  background-size contain
  background-position-y 15%

  > div
    padding-bottom 40px
    padding-top (@padding-bottom * 2)

    @media screen and (min-width (screen-mobile + 1px))
      display flex
      align-items center

      > *
        flex 1

        &:first-child
          margin-right 60px

    @media screen and (max-width screen-mobile)
      padding-top @padding-bottom
      text-align center

      ul
        margin-bottom @padding-bottom

  ul
    font-weight bold

.team
  position relative

  background-image url(../assets/bg/d.png)
  background-repeat no-repeat
  background-size contain
  background-position-y 10%

  > div
    padding-bottom 80px

    @media screen and (max-width screen-mobile)
      padding-bottom (@padding-bottom / 2)

    max-width 580px

    > div
      padding-top (@padding-bottom / 2)

      @media screen and (max-width screen-mobile)
        border-top 1px solid #D9D9D9
