@import "./normalize.css"
@import "./variables.styl"

html
  font-size 18px
  color theme-black

.container
  box-sizing border-box
  max-width 1220px
  padding-left 15px
  padding-right @padding-left
  width 100%

.list-reset
  margin-top 0
  margin-bottom 0
  padding 0
  list-style none

.mx-auto
  margin-left auto
  margin-right auto
