@import "./normalize.css"
@import "./variables.styl"

html
  font-size 18px
  line-height: 1.5

  color theme-black

  section
    overflow-x hidden

  a
    &
    &:visited
      color currentColor

    &.outlined
      display: inline-block
      box-sizing border-box

      min-width 130px
      padding 10px 12px

      border 1px solid currentColor
      text-decoration none
      text-align center
      text-transform uppercase
      font-size 16px
      font-weight bold

  @media screen and (max-width screen-mobile)
    font-size 16px

img
  max-width 100vw

h1
h2
h3
  margin-top 0
  margin-bottom @margin-top

.container
  box-sizing border-box
  max-width screen-desktop
  padding-left 25px
  padding-right @padding-left
  width 100%

  &&--mobile
    max-width: screen-mobile

.list-reset
  margin-top 0
  margin-bottom 0
  padding 0
  list-style none

.mx-auto
  margin-left auto
  margin-right auto

.h1
  padding-top 10px
  padding-bottom @padding-top
  font-size 1.78rem
  font-weight bold

  &.icon.triangle
    @media screen and (max-width screen-mobile)
      text-align center

    &.offset
      @media screen and (min-width (screen-mobile + 1px))
        transform translateX(-60px)

.h2
  padding-top 8px
  padding-bottom @padding-top
  font-size 1.67rem
  font-weight bold

.h3
  padding-top 6px
  padding-bottom @padding-top
  font-size 1.33rem
  font-weight bold

.indent
  @media screen and (min-width (screen-mobile + 1px))
    margin-left calc(1.3em + 36px)

.icon
  &::before
    content ''

    display inline-block
    flex-shrink 0

    width 24px
    height @width

    background-size contain
    background-repeat no-repeat
    background-position center
  
    .triangle&
      width 0.75em
      height @width
      margin-right 36px
      background-image url(../assets/title-triangle.svg)

      @media screen and (max-width screen-mobile)
        margin-right 15px

    .phone&
      background-image url(../assets/icons/phone.svg)

    .map&
      background-image url(../assets/icons/map.svg)

    .mail&
      background-image url(../assets/icons/mail.svg)

    .clock&
      background-image url(../assets/icons/clock.svg)

.text-theme-yellow
  color theme-yellow !important

ul.icon-list
  @extends .list-reset

  li
    &:not(:first-child)
      margin-top 20px

      @media screen and (max-width screen-mobile)
        margin-top 10px
    
    display: flex

    &::before
      margin-right 20px
  

.bg
  &-a
    background-size cover
    background-image url('../assets/bg/a.jpg')
    background-position center

  &-c
    background-position-x right
    background-position-y bottom
    background-repeat no-repeat
    background-size contain
    background-image url('../assets/bg/c.svg')

.no-tablet
  @media screen and (max-width screen-tablet)
    display none

.no-desktop
  @media screen and (max-width screen-desktop)
    display none

.no-wide
  @media screen and (max-width screen-wide)
    display none
