@import "../../styles/variables"

.root
  display flex
  flex-direction column
  min-height 100vh

  > div
    flex-grow 1

  > footer
    flex-shrink 0

.content
  position relative

.sidebar
  position absolute
  right 40px
  bottom 40px

  transition opacity 0.2s ease

  @media screen and (max-width screen-tablet)
    position relative

  @media screen and (max-width screen-mobile)
    right 20px
    bottom 20px

  &-wrapper
    position -webkit-sticky
    position sticky
    z-index 100
    bottom 0

    display flex
    justify-content flex-end
