@import "../../styles/variables"

.root
  display flex
  flex-direction column
  min-height 100vh

  > div
    flex-grow 1

  > footer
    flex-shrink 0

.content
  position relative

  > *:last-child
    @media screen and (max-width (screen-desktop - 1px))
      padding-bottom 204px

.sidebar
  position fixed
  z-index 100
  right 40px
  bottom 70px

  transition opacity 0.2s ease

  @media screen and (max-width screen-mobile)
    right 20px
