@import "../../styles/variables"

padding = 40px

.root
  position relative
  box-sizing border-box

  margin-top padding
  margin-bottom @margin-top

  .image
    display block
    width 100%
    height 100%
    object-fit cover
    object-position center center

    &-wrapper
      position relative
      width 100%
      padding-top 67.22%
      overflow hidden

      ^[1]
      &::after
        position absolute
        top 0
        left 0
        right 0
        bottom 0

  @media screen and (min-width 1190px)
    .image-wrapper
      padding-top 67.22%

      &::after
        content ''
        background-size 100% 50%
        background-repeat no-repeat
        background-image linear-gradient(to bottom, rgba(white, 0.8), rgba(white, 0))

    .intro
      position absolute
      top padding
      left padding
      max-width 375px
      text-shadow 0 0 10px white

      &--right
        left unset
        right padding

    .bg-title
      position absolute
      right padding
      bottom padding
      color white
      background rgba(black, 0.25)
      padding 8px 20px
      border 1px solid currentColor

  @media screen and (max-width 1189px)
    .image-wrapper
      padding-top 100%

    .intro
      box-sizing border-box
      margin-top 10px
      padding-left 20px
      padding-right @padding-left
      text-align center

      p
        margin-top 10px

    .bg-title
      display none