@import "../../styles/variables"

.root
  position absolute
  top 0
  bottom 0
  height 100%

  &.left
    left 0

    &.hero
      @media screen and (max-width screen-desktop)
        left unset
        right 60vw

        @media (max-width screen-mobile)
          right 15vw

    &:not(.hero)
      @media screen and (max-width screen-desktop)
        left unset
        right calc((100% - 1240px) / 2 + 1240px - 250px)

  &.right
    right 0

    &.hero
      @media screen and (max-width screen-desktop)
        right unset
        left 50vw

        @media (max-width screen-mobile)
          left 18vw

    &:not(.hero)
      @media screen and (max-width screen-desktop)
        right unset
        left calc((100% - 1240px) / 2 + 1240px - 250px)

  foreignObject > div
    width 100%
    height 100%
    background-size contain
    background-position center
    background-repeat no-repeat

    &.circle
      background-image url(./circle.svg)

    &.triangle
      background-image url(./triangle.svg)

    &.fish
      &-1
        background-image url(./fish/a.png)
      &-2
        background-image url(./fish/b.png)
      &-3
        background-image url(./fish/c.png)

    &.flip-y
      transform scaleY(-1)
