.root
  position absolute
  top 0
  bottom 0
  height 100%

  &.left
    left 0

  &.right
    right 0

  foreignObject > div
    width 100%
    height 100%
    background-size contain
    background-position center
    background-repeat no-repeat

    &.circle
      background-image url(./circle.svg)

    &.triangle
      background-image url(./triangle.svg)

    &.fish
      &-1
        background-image url(./fish/a.png)
      &-2
        background-image url(./fish/b.png)
      &-3
        background-image url(./fish/c.png)

    &.flip-y
      transform scaleY(-1)
